[ ca ]
default_ca      = CA_own

[ CA_own ]
dir             = /data/pki/db
certs           = /data/pki/db
new_certs_dir   = /data/pki/db/ca.db.certs
database        = /data/pki/db/ca.db.index
serial          = /data/pki/db/ca.db.serial
RANDFILE        = /data/pki/db/ca.db.rand
certificate     = /data/pki/certificats/ca.crt
private_key     = /data/pki/certificats/ca.key
default_days    = 3000
default_crl_days = 30
default_md      = md5
preserve        = no
policy  = policy_anything

[ policy_anything ]
countryName             = optional
stateOrProvinceName     = optional
localityName            = optional
organizationName        = optional
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional

